@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&display=swap");
:where(.root) {
  font-family:
    "Orbitron",
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    sans-serif;
}
